---
import Layout from "../layouts/Layout.astro";
import LinkCard from "../components/LinkCard.astro";

import { workingHours, indexInfo, indexCards } from "../utils/constants";
import ImageSlider from "../components/ImageSlider.astro";
// dodaj mapu
// ovde slika line: 18
const bigCards = indexCards.slice(0, 2);
const smallCards = indexCards.slice(2, 5);
const location =
  "Prirodnjački centar Svilajnac izgrađen je na najfrekventnijem turističkom pravcu – na samo 7 km od auto-puta (E75), a pored regionalnog puta Markovac-Svilajnac-Despotovac u neposrednoj blizini kompleksa Sportsko-turističkog centra.";
const review =
  "Ponuda i reklama je nešto na čemu radi tim stručnjaka i nepogrešivo je učinkovita. Dobra reklama može da proda svaki proizvod ali iskustva korisnika, u našem slučaju posetilaca, je jedina relevantna stvar i nešto na šta tim stručnjaka ne može da utiče.";
const offer =
  "Ponuda i reklama je nešto na čemu radi tim stručnjaka i nepogrešivo je učinkovita. Dobra reklama može da proda svaki proizvod ali iskustva korisnika, u našem slučaju posetilaca, je jedina relevantna stvar i nešto na šta tim stručnjaka ne može da utiče.";
---

<Layout title="Početna"
  ><div class="main-hero">
    <img src="banner.png" class="banner" alt="radno vreme" />
  </div>
  <h1 class="title text-center">Šta vas očekuje u Prirodnjačkom centru?</h1>
  {
    indexInfo.map((info) => (
      <>
        <p class="text-center">{info}</p>
        <br />
      </>
    ))
  }
  <div class="cards">
    <div class="grid grid-2">
      {
        bigCards.map((card) => (
          <LinkCard link={card.link} text={card.text} square location="index" />
        ))
      }
    </div>
    <div class="grid grid-3">
      {
        smallCards.map((card) => (
          <LinkCard
            link={card.link}
            text={card.text}
            square
            location="index"
            small
          />
        ))
      }
    </div>
  </div>
  <h1 class="text-center second-heading">Utisci naših posetilaca</h1>
  <p class="text-center semi-wide">
    {review}
  </p>
  <div class="reviews">
    <ImageSlider location="reviews" numberOfElements={5} height="10rem" />
  </div>
  <div class="map-container">
    <h1 class="text-center">Kako do nas?</h1>
    <div class="map-guide">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2858.7622101013712!2d21.191171181297687!3d44.232553838028345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47512ae4b8012a27%3A0xa320547753e1fefb!2sNatural%20History%20Center%20Svilajnac!5e0!3m2!1sen!2srs!4v1709671063250!5m2!1sen!2srs"
        width="503"
        height="280"
        style="border:0;border-radius:12px"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div>
        <p>{location}</p>
        <br class="hide" />
        <p>
          Udaljenost od Beograda je 110 km; od Kragujevca 45 km; Niša 132 km;
          Smedereva 60 km
        </p>
        <br />
        <div class="location">
          <img src="pin.svg" alt="lokacija" />
          <div>
            <p>Kralja Petra Prvog 111</p><p>35210 Svilajnac</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="text-center second-heading">Nudimo vam i ...</h1>
  <p class="text-center offer">
    {offer}
  </p>
  <LinkCard
    link="grupne-posete"
    text="Grupne posete Prirodnjačkom centru i kući Stevana Sinđelića"
    height="25rem"
    buttonText="Zakažite grupnu posetu"
    location="index"
    secondLink="kupovina-grupnih-karata"
    small
    biggerPadding
  />
  <div class="grid grid-2 mt">
    <LinkCard
      link="organizacija-dečijih-rođendana"
      text="Organizaciju dečijih rođendana"
      height="20rem"
      location="index"
      small
      biggerPadding
    /><LinkCard
      link="organizacija-događaja"
      text="Organizaciju događaja"
      height="20rem"
      location="index"
      small
      biggerPadding
    />
  </div>
  <h1 class="text-center second-heading">Naši saradnici</h1>
  <div class="reviews">
    <ImageSlider location="collaborators" numberOfElements={6} height="6rem" />
  </div>
</Layout>
<style>
  .main-hero {
    height: 35rem;
    background-image: url("/main-hero.jpeg");
    margin-left: calc(-1 * var(--main-horizontal-padding));
    margin-right: calc(-1 * var(--main-horizontal-padding));
    margin-top: calc(-1 * var(--main-vertical-padding));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .title {
    margin-top: 10rem;
    margin-bottom: 1.5rem;
  }
  .cards {
    margin-top: 2rem;
  }
  .second-heading {
    margin-top: 6rem;
    margin-bottom: 1.5rem;
  }
  .reviews {
    margin-top: 5.5rem;
    margin-bottom: 5rem;
  }
  .map-container {
    background-color: var(--bg-second);
    margin-left: calc(-1 * var(--main-horizontal-padding));
    margin-right: calc(-1 * var(--main-horizontal-padding));
    padding: var(--main-vertical-padding) var(--main-horizontal-padding);
    margin-bottom: 5rem;
  }
  .map-guide {
    display: flex;
    gap: 8rem;
    margin-top: 4rem;
  }
  p.offer {
    margin-bottom: 6rem;
  }
  iframe {
    width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    .main-hero {
      height: 11rem;
    }
    .title {
      margin-top: 3rem;
    }
    .cards {
      margin-top: 1rem;
    }
    .second-heading {
      margin-top: 3rem;
    }
    .reviews {
      margin-top: 1rem;
      margin-bottom: 0;
    }
    .map-container {
      margin-top: 2rem;
      margin-bottom: 0rem;
    }
    .map-guide {
      margin-top: 2rem;
      gap: 12rem;
    }
    .location {
      margin-bottom: 1rem;
    }
    .hide {
      display: none;
    }
    p.offer {
      margin-bottom: 2rem;
    }
    .mt {
      margin-top: 0.5rem;
    }
  }
  .banner {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateY(50%) translateX(-50%);
    filter: drop-shadow(2px 8px 10px rgba(124, 73, 5, 0.16));
    width: 80%;
  }

  @media (max-width: 1103px) {
    .map-guide {
      gap: 3rem;
    }
  }
  @media (max-width: 900px) {
    .map-guide {
      flex-direction: column;
      align-items: center;
    }
  }

  .location {
    display: flex;
    gap: 1.5rem;
  }

  .semi-wide {
    max-width: 44.5rem;
    margin: 0 auto;
    margin-top: 1.5rem;
  }
</style>
